<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styletelalogin.css">
</head>

<body>
    <div>
        <h1>Login</h1>
        <input type="text" placeholder="Login" id="login">
        <br><br>
        <input type="password" placeholder="Senha" id="senha">
        <br><br>
        <input type="submit" value="Entrar" onclick="logar(); return false">
    </div>

    <script>
        function logar() {
            var login = document.getElementById('login').value;
            var senha = document.getElementById('senha').value;

            if (login == "admin" && senha == "admin") {
                location.href = "homepage.html";
            }
            else {
                alert("Usuário ou senha inválido");
            }
        }
    </script>
</body>

</html>
